.Card {
    border: 1px solid lightgrey;
    width: 49%;
    margin-bottom: 2%;
    background-color: white;
    box-shadow: 0px 0px 5px lightgrey;
    position: relative;
}

.Card img {
    border-radius: 50%;
    height: 75px;
    margin-right: 40px;
}

.CardHeader {
    display: flex;
    margin: 20px 40px;
}

.CardBody {
    margin: 20px 40px;
}

.CardHeader div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Card p {
    margin-bottom: 5px;
    color: grey;
}

.Card hr {
    width: 100%;
    border: 1px solid #5851EA;
}

.IconContainer {
    display: flex;
    position: absolute;
    top: 5px;
    right: 15px;
}

.IconContainer * {
    margin: 5px;
    color: lightgrey;
}

